* {
  box-sizing: border-box; 
 }
 .body {
   margin: 0;
   text-align: center;
   color: white;
 }
 .main {
   display: flex;
   min-height: calc(100vh - 16vh);
 }
 .main > article {
   flex: 1;
   text-align: center;
   background-color: #282c34;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: calc(2px + 2vmin);
 }
 .main > nav, 
 .main > aside {
   flex: 0 0 15vw;
   background-color: #1b1e22;
 }
 .main > nav {
   order: -1;
 }
 header, footer, article, nav, aside {
   padding: 1em;
 }
 header, footer {
   background-color: #282c34;
   height: 8vh;
   text-align: center;
 }
 .navList {
   padding: 0;
 }
 .navList > li {
   list-style: none;
   text-decoration: none;
   font-size: calc(2px + 2vmin);
   padding: .5rem;
 }
 .footerText {
   margin: .5rem 0 0 0;
 }
 .App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 38vmin;
  pointer-events: none;
  margin: 4rem 2rem 4rem 2rem;
}
.calin {
  height: 32vmin;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
